* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Fonts Lists */
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared Styles Start */
body {
    max-width: 1440px;
    width: auto;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

/* Shared Styles End */

/* Header Styles Start */

header {
    padding: 20px 0px;
}

.nav-bar {
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
}

.brand-container {
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.brand-name {
    font-family: Quicksand;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    color: rgb(17, 17, 17);
}

.menu-icon {
    display: none;
}

.list-items {
    list-style: none;
    justify-content: space-between;
    gap: 32px;
}

.list-item {
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.list-item-1 {
    color: rgb(254, 163, 1);
}

.list-item-1 {
    color: rgb(1, 172, 253);
}

.list-item-1 {
    color: rgb(5, 212, 223);
}

.list-item-1 {
    color: rgb(93, 88, 239);
}

.connect-btn {
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 175px;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 12px;
    background: rgb(254, 163, 1);
}

/* Header Styles End */

/* Main Styles Start */
/* Banner Section Styles Start */
.banner-container {
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0px 20px;
}

.banner-title {
    font-family: Quicksand;
    font-size: 56px;
    font-weight: 700;
    text-align: left;
    margin: 24px 0px;
}

.banner-title-p1 {
    color: rgb(254, 163, 1)
}

.banner-title-p2 {
    color: rgb(1, 172, 253)
}

.banner-description {
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 400;
    color: rgb(17, 17, 17);
    text-align: left;
    margin: 24px 0px;
}

.enroll-btn {
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    background: rgb(17, 17, 17);
    padding: 10px;
    width: 175px;
}

/* Banner Section Styles End */

/* StandardCurriculum Styles Start */
.standard-curriculum {
    padding: 60px 0px;
    background-image: url(assets/bg.png);
}

.standard-curriculum-container {
    padding: 0px 140px;
}

.standard-curriculum-title {
    font-family: Quicksand;
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    margin: 80px 0px;
}

.standard-curriculum-class-boxes {
    justify-content: space-between;
    gap: 29px;
    padding: 0px 0px 80px;
}

.class-box-1 {
    text-align: center;
    padding: 40px 50px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.class-box-2 {
    text-align: center;
    padding: 40px 50px;
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.class-box-3 {
    text-align: center;
    padding: 40px 50px;
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.class-title {
    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 24.52px;
    font-weight: 700;
    text-align: center;
    padding: 32px 0px;
}

.class-description {
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 15.09px;
    font-weight: 500;
    text-align: center;
    padding: 32px 0px;
}

.read-more-1 {
    font-family: Quicksand;
    font-size: 15.09px;
    font-weight: 700;
    color: rgb(100, 200, 255);
    text-align: center;
}

.read-more-2 {
    font-family: Quicksand;
    font-size: 15.09px;
    font-weight: 700;
    color: rgb(240, 170, 0);
    text-align: center;
}

.read-more-3 {
    font-family: Quicksand;
    font-size: 15.09px;
    font-weight: 700;
    color: rgb(135, 0, 255);
    text-align: center;
}

.standard-curriculum-nav-button {
    text-align: center;
}

/* StandardCurriculum Styles End*/

/* Stories Styles Strat*/
.stories-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    background: url(assets/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}

.stories-container-title {
    font-family: Quicksand;
    font-size: 46px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.stories-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    margin: 80px 0px;
    padding: 0px 140px;
}

.stories-card img {
    border-radius: 16px 16px 0px 0px;
    width: 100%;
}

.stories-card {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.stories-card-1 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}

.stories-card-2 {
    grid-column-start: 3;
}

.stories-card-3 {
    grid-column-start: 4;
}

.stories-card-4 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.stories-card-5 {
    grid-column-start: 4;
    grid-row-start: 2;
}

.stories-date-0 {
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-align: left;
    text-transform: capitalize;
    border-radius: 47px;
    background: rgb(60, 216, 232);
    padding: 10px 15px;
    max-width: fit-content;
    position: relative;
    top: -25px;
    left: 50px;
}

.stories-date-1 {
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-align: left;
    border-radius: 47px;
    background: rgb(60, 216, 232);
    padding: 8px 12px;
    max-width: fit-content;
    position: relative;
    top: -20px;
    left: 25px;
}

.stories-card-title-0 {
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    padding: 25px 60px 0px 50px;
}

.stories-card-title-1 {
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    padding: 25px 25px 60px 25px;
}

.stories-content {
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    color: rgb(102, 102, 102);
    line-height: 28.76px;
    text-align: left;
    padding: 0px 20px;
    padding: 50px 60px 35px 50px;
}

.view-all-btn {
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 200px;
    border-radius: 12px;
    background: rgb(17, 17, 17);
}

/* Stories Styles End*/
/* Main Styles End */


/* Responsive Styles */
@media screen and (max-width: 790px) {

    /* Header Styles Start */
    header {
        border-bottom: 2px solid rgb(254, 163, 1);
    }

    .brand-name,
    .menu-list-items,
    .connect-btn-container {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    /* Header Styles End */

    /* Banner Section Styles Start */
    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-title,
    .banner-description,
    .banner-btn {
        text-align: center;
    }

    /* Banner Section Styles End */
    /* Standard Curriculum Styles Start */
    .standard-curriculum-container {
        padding: 0px 20px;
    }

    .standard-curriculum-class-boxes {
        flex-direction: column;
    }

    .standard-curriculum-nav-button {
        display: none;
    }

    /* Standard Curriculum Styles End */

    /* Stories Styles Start */

    .stories-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .stories-card-1 {
        display: none;
    }

    .stories-card-2 {
        grid-column-start: 1;
    }

    .stories-card-3 {
        grid-column-start: 2;
    }

    .stories-card-4 {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .stories-card-5 {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    /* Stories Styles End */


}